@import 
url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

:root {
    --bg-color: #D91656;
    --primary-color: #EE66A6;
    --secundary-color: #FFEB55;
    --font: "Nunito Sans", sans-serif;
}

body {
    background-color: var(--bg-color);
}